[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Start-Activate-Linux-Conky
Comment=Start Activate Linux Conky
Exec=bash -c "exec -a activate_linux_conky conky -c /home/baylinux/.config/conky/activate_linux_conky.conf"
StartupNotify=false
Terminal=false
Hidden=false

