[Desktop Entry]
Type=Application
Name=Java Jar Loader
Exec=java -jar %f
MimeType=application/x-java-archive;application/zip;
Icon=/home/baylinux/my-app-icons/jar-loader.jpg
NoDisplay=true
StartupNotify=true
