[Desktop Entry]
Type=Application
Name=Netbeans
Comment=Netbeans Ide Particularly For Java Development
Icon=/home/baylinux/my-app-icons/netbeans.jpg
Exec=/home/baylinux/netbeans/bin/netbeans
Terminal=false
Categories=Development
StartupNotify=false
